body{
    background-color:orangered;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head_div{
    background:yellowgreen;
    color: teal;
}

.head_div p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellowgreen;
    font-size: 36px;
    letter-spacing: 1pt;
    font-weight: bolder;
}

.mid-div button{
    color: yellowgreen;
    background-color: teal;
    margin-top: 30px;
    width: 130px;
}

.copy_write_footer{
    font-size: 600px;
    position: fixed;
    bottom: 0;
    color: yellowgreen(0, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: white;
}